	/* Custom CSS for horizontal scroll */
	.scrollable-cards {
		overflow-x: auto;
		white-space: nowrap;
		padding-bottom: 15px; /* to ensure the last card is not partially hidden */
	}

	/* Optional: Adjust card width */
	.card {
		width: 400px; /* Adjust as needed */
		/* padding: 20px; */
		display: inline-block;
		margin-right: 10px; /* Adjust spacing between cards */
	}

	#order-box {
		width: 700px;
		height: 100%;
	}