{% comment %}
<link
	rel="stylesheet"
	href="{{ url_for('static', filename='css/partials/_orders_history.css') }}"
/>

<div class="history-container">
	<div class="row justify-content-center">
		<div class="col">
			<div class="history-box mt-3 shadow" style="opacity: 0.8">
				<div class="card-body py-2 px-md-1">
					<h2 class="text-center mb-4">Request</h2>

					<!-- Order Form -->
					<form
						method="POST"
						action="{{url_for('order_controller.order_request')}}"
					>
						<div class="allergies-container">
							<h6>Do you have any food allergies?</h6>
							<ul class="checkboxes">
								<li>
									<input type="checkbox" name="allergies" value="nuts" /> Nuts
								</li>
								<li>
									<input type="checkbox" name="allergies" value="milk" /> Milk
								</li>
								<li>
									<input type="checkbox" name="allergies" value="shellfish" />
									Shellfish
								</li>
								<li>
									<input type="checkbox" name="allergies" value="soy" /> Soy
								</li>
								<li>
									<input type="checkbox" name="allergies" value="eggs" /> Eggs
								</li>
								<li>
									<input type="checkbox" name="allergies" value="wheat" /> Wheat
								</li>
								<li>
									<input type="checkbox" name="allergies" value="none" /> None
								</li>
							</ul>
						</div>

						<div class="restrictions-container">
							<h6>Do you have any dietary restrictions?</h6>
							<ul class="checkboxes">
								<li>
									<input
										type="checkbox"
										name="dietary_restriction"
										value="vegetarian"
									/>
									Vegetarian
								</li>
								<li>
									<input
										type="checkbox"
										name="dietary_restriction"
										value="vegan"
									/>
									Vegan
								</li>
								<li>
									<input
										type="checkbox"
										name="dietary_restriction"
										value="gluten-free"
									/>
									Gluten-Free
								</li>
								<li>
									<input
										type="checkbox"
										name="dietary_restriction"
										value="lactose-free"
									/>
									Lactose-Free
								</li>
								<li>
									<input
										type="checkbox"
										name="dietary_restriction"
										value="halal"
									/>
									Halal
								</li>
								<li>
									<input
										type="checkbox"
										name="dietary_restriction"
										value="kosher"
									/>
									Kosher
								</li>
								<li>
									<input
										type="checkbox"
										name="dietary_restriction"
										value="none"
									/>
									None
								</li>
							</ul>
						</div>

						<div>
							<h6>How do you want to receive your order?</h6>
						</div>
						<div class="order-type-buttons">
							<button
								type="button"
								class="btn btn-secondary btn-block col-md-5"
								value="pickup"
							>
								Pickup
							</button>
							<button
								type="button"
								class="btn btn-secondary btn-block col-md-5"
								value="deliver"
							>
								Deliver
							</button>
						</div>

						<button
							type="submit"
							class="btn btn-primary btn-block mx-3 col-md-5"
						>
							Submit Request
						</button>
						<button
							type="button"
							class="btn btn-secondary btn-block col-md-5"
							data-bs-toggle="modal"
							data-bs-target="#orderHistoryModal"
						>
							Order History
						</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- order_request_form.html -->
{% endcomment %}
