{% extends "partials/_layout.html" %}
{% include "partials/_header.html" %}

{%block content%}
<div class="container mt-4">
    <div class="card">
        <div class="card-header">
            <h5>Participating Campuses</h5>
        </div>
        <div class="card-body">
            <p class="card-info">
                As of now, Pantry Pilot is only configured to work with the University of Illinois at Chicago (UIC). If
                you are a represenative from another university and would like to learn more about how to bring Pantry
                Pilot to your university, please contact us at pantrypilot2024@gmail.com.</p>
        </div>
    </div>
</div>

{%endblock%}