{% extends "partials/_layout.html" %} {% include "partials/_header.html" %}
{%block content%}
<h1>BIO page</h1>
<!-- app/templates/user.html -->

<!-- Profile page -->
<div class="container mt-4">
	<div class="row justify-content-center">
		<div class="col-md-6">
			<div class="card">
				<div class="card-body">
					<div class="row align-items-center">
						<!-- Profile photo column -->
						<div class="col-auto">
							<div class="profile-photo">
								<!-- Add your profile photo here -->
							</div>
						</div>
						<!-- User information column -->
						<div class="col">
							<h5 class="card-title">{{ user.name }}</h5>
							<p class="card-text">{{ user.email }}</p>
							<!-- Add more user information fields as needed -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Custom CSS -->
<style>
	.profile-photo {
		width: 150px;
		height: 150px;
		background-color: #f0f0f0;
		border-radius: 50%;
		background: url("{{ url_for('static', filename='logo.jpg') }}") center center/cover;
		margin-right: 20px; /* Space between profile photo and user information */
	}
</style>

{%endblock%}
